
body {
margin: 0px;
margin-top: -25px;
padding: 0px;
}

$bodyFontColor : #fff;

html {
  font-family: 'average', serif;
}

.center {
  margin: auto;
  position:static;
  top: 55px;
  right: 5px;
  left: 5px;
  width: 95%;
  min-height: auto;
  background-color:white;
  padding: 10px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.bottom {
  margin: auto;
  position:absolute;
  bottom: 0px;
  width: 100%;
  min-height: 150px;
  padding: 10px;
}

#mainnav {
  position: absolute; 
  font-family: 'Montserrat Alternates', sans-serif;
  z-index: 1;
  li {
    margin: 85px 0;
    left: -550px;
    position: relative;
    display: none;
  }
  a {
    color: $bodyFontColor;
    text-shadow: 2px 2px 0 #000;
    text-decoration: none;
    font-size: 3.5em;
  }
}

}

html, body, .hero {
  height: 100%;
}
 
.hero {
  margin-top: 0;
  width: 100%;
  min-height: 1000px;
  background-image: linear-gradient(to bottom, #d59254, #cf7693);
}

h1 {
  margin-top: 0;
  font-size: 5em;
  text-align: center;
  font-weight: 700;
  font-family: 'Montserrat Alternates', sans-serif;
  color: $bodyFontColor;
  width: 100%;
  position: absolute;
  top: 28%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}  

h2 {
  margin-top: 0;
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  font-family: 'Montserrat Alternates', sans-serif;
  color: $bodyFontColor;
  width: 100%;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}  

ul {
  margin-top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white
}

li {
  margin-top: 0;
  float: left;
}

li a {
  margin-top: 0;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  margin-top: 0;
  background-color: #d59254;
}

.active {
  background-color: #4CAF50;
}
